



.menu-button > .arrow-button > .arrow {
    -fx-background-color: #cccccc;
}

.context-menu {
    -fx-background-color: #555;
}

.check-menu-item:checked
{
    -fx-mark-color: #ffcd81;
}

.check-menu-item
{
    -fx-background-color: #555;
    -fx-text-fill: black;
}

.check-menu-item:hover
{
    -fx-background-color: #666;
    -fx-color: #ddd;
}



/*
    Tab Panes
*/

.tab-pane .tab
{
    -fx-background-color: #664f45;

}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab-pane .tab:selected
{
    -fx-background-color: #ad9a87;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ddd;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-text-fill: #000;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #423935;
}

/*
    Text Fields
*/
.text-field {
    -fx-background-color: #a39087;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-text-fill: #ddd;
}

/*
    Choice Box
*/
.choice-box > .open-button > .arrow {
    -fx-background-color: #000;
}

.choice-box {
    -fx-background-color: #a39087;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 13px;
}

/*
    CheckBox
*/
.check-box > .box > .mark{
    -fx-opacity: 0;
    -fx-background-color: #000;
}

.check-box:selected > .box > .mark{
    -fx-opacity: 1;
}


.check-box > .box {
    -fx-background-color: #a39087;
    -fx-border-radius: 2px;
}

/*
    Menu Button
*/
.menu-button > .arrow-button > .arrow {
    -fx-background-color: #111;
}

.menu-button{
    -fx-background-color: #a39087;
    -fx-opacity: 1;
    -fx-text-fill: #000;
    
}

/*
    Button
*/
.button {
    -fx-background-color: #664f45;
    -fx-text-fill: #fff;
}

/*
    Tables
*/

.table-view {
    -fx-background-color: #a39087;
}

.table-column  {
    -fx-background-color: #ffcd81;
}